body {
    min-width: 375px;
}

.container-bg {
    background: rgba(227, 235, 241, 1)
}

button {
    background: rgba(23, 165, 80, 1);
}

.vector-bg {
    background-image: url(./img/backgroundImage.svg);
}